:root {
  --background-color: white;
  --lighter-text-1: #333;
  --lighter-text-2: #666;
  --lighter-text-3: #999;
}

.App.dark {
  --background-color: black;
  --lighter-text-1: #eee;
  --lighter-text-2: #ccc;
  --lighter-text-3: #aaa;
  background-color: black;
  color: white;
}

.App.light {
  background-color: white;
  color: black;
}

body.light {
  background-color: white;
  color: black;
}

/* Dark Theme on body */
body.dark {
  background-color: black;
  color: white;
}
