.registration-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.registration-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.registration-container small {
  text-align: center;
  font-size: 0.75em;
  color: gray;
}

.registration-container a {
  color: #4e9bf6;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.form-group-inline {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-group-inline input {
  flex: 1;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.phoneInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
/**/
/*.phoneInput .PhoneInput {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 4px;*/
/*  padding: 8px;*/
/*  font-size: 14px;*/
/*  width: 100%;*/
/*}*/
/**/
/*.phoneInput .PhoneInput input {*/
/*  border: none;*/
/*  outline: none;*/
/*  font-size: 14px;*/
/*  flex: 1;*/
/*  margin-left: 10px;*/
/*}*/
/**/
/*.phoneInput .PhoneInput .PhoneInputCountry {*/
/*  margin-right: 10px;*/
/*}*/
/**/
.phoneInput .PhoneInputCountryIcon {
  width: 24px;
  height: 16px;
}

.phoneInput .PhoneInputCountrySelect {
  border: none;
  background: none;
  font-size: 14px;
}

.phoneInput .PhoneInputCountryIcon--square {
  border-radius: 4px;
}

.ownid-container {
  display: flex;
  justify-content: flex-start;
}

.button {
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 150px;
  align-self: center;
}
