<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Internet's White Pages</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <style>
      .loggedInMenu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
      }

      .loginModal {
        position: fixed;
        display: none;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* Modal background */
      }

      .loginModal-content {
        margin: auto;
        padding: 20px;
        border: 1px solid black;
        width: 30%; /* Adjust width as needed */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .postModal {
        position: fixed;
        display: none;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5); /* Modal background */
      }

      .postModal-content {
        margin: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        width: 50%; /* Adjust width as needed */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }

      .form-group label {
        margin-bottom: 5px;
      }

      .form-group input,
      .form-group textarea {
        width: 100%;
      }

      .form-group button {
        width: 30%;
        cursor: pointer;
        align-self: center;
      }
    </style>
  </head>

  <body>
    <main class="main">
      <h1>Discover cool <i>people</i>.</h1>
      <p>Because Y not lol?</p>
      <hr style="color: lightgray" />
      <div class="search-and-register">
        <div>
          <button
            class="login-button"
            id="loginButton"
            onclick="openLoginModal()"
            style="cursor: pointer"
          >
            Log in
          </button>
          <div id="loggedInMenu" class="loggedInMenu">
            <span id="userHandle"></span>
            <div>
              <button
                id="postButton"
                class="post-button"
                style="cursor: pointer"
                onclick="openPostModal()"
              >
                Post
              </button>
              <button
                id="signOutButton"
                class="signOutButton"
                style="cursor: pointer"
                onclick="handleSignOut()"
              >
                Sign out
              </button>
            </div>
          </div>
        </div>
        <div>
          <input
            type="search"
            id="searchInput"
            placeholder="Search..."
            aria-label="Search personal sites"
            oninput="handleSearch()"
          />
        </div>
      </div>

      <div class="tag-buttons" id="tag-buttons">
        <!-- Tag buttons will be dynamically inserted here -->
      </div>

      <div class="showcaseGrid" id="showcase-grid">
        <!-- Sites will be dynamically inserted here -->
      </div>
    </main>

    <div id="loginModal" class="loginModal">
      <div class="loginModal-content">
        <span class="close" onclick="closeLoginModal()" style="cursor: pointer"
          >&times;</span
        >
        <h2>Log in</h2>
        <form id="login-form">
          <label for="handle">Handle:</label>
          <input type="text" id="handle" name="handle" required /><br /><br />
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            required
          /><br /><br />
          <button type="submit" style="cursor: pointer">Submit</button>
        </form>
      </div>
    </div>

    <div id="postModal" class="postModal">
      <div class="postModal-content">
        <span class="close" onclick="closePostModal()" style="cursor: pointer"
          >&times;</span
        >
        <h2>Post</h2>
        <form id="post-form">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required />
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="urls">URL(s):</label>
            <input
              type="text"
              id="urls"
              name="urls"
              placeholder="Separate multiple URLs with spaces"
            />
          </div>
          <div class="form-group">
            <label for="tags">Tags:</label>
            <input
              type="text"
              id="tags"
              name="tags"
              placeholder="#art #tech #blog"
            />
          </div>
          <div class="form-group">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <script>
      const showcaseGridRef = document.getElementById("showcase-grid");
      const tagButtonsRef = document.getElementById("tag-buttons");
      let sites = [];
      let filteredSites = [];
      let tags = new Set();
      let selectedTags = new Set();

      async function fetchSites() {
        try {
          const response = await fetch(`https://ynot.lol/api/sites`);
          const data = await response.json();
          sites = Object.values(data);
          filteredSites = sites;
          renderSites();
        } catch (error) {
          console.error("Error fetching sites:", error);
        }
      }

      async function fetchTags() {
        fetch(`https://ynot.lol/api/tags`)
          .then((response) => response.json())
          .then((data) => {
            data.forEach((tag) => tags.add(tag));
            renderTagButtons();
          })
          .catch((error) => {
            console.error("Error fetching tags:", error);
          });
      }

      function renderSites() {
        showcaseGridRef.innerHTML = "";
        filteredSites.forEach((site, index) => {
          const siteDiv = document.createElement("div");
          siteDiv.className = "showcaseRow";
          siteDiv.onclick = () => window.open(site.url, "_blank");

          const iframeWrapper = document.createElement("div");
          iframeWrapper.className = "iframeWrapper";

          const iframe = document.createElement("iframe");
          iframe.src = site.url;
          iframe.title = site.name;
          iframe.loading = "lazy";
          iframe.className = "showcaseItem";

          iframeWrapper.appendChild(iframe);
          siteDiv.appendChild(iframeWrapper);
          showcaseGridRef.appendChild(siteDiv);
        });
      }

      function renderTagButtons() {
        const tagContainer = document.getElementById("tag-buttons");
        tagContainer.innerHTML = "";

        tags.forEach((tag) => {
          const tagButton = document.createElement("button");
          tagButton.className = "tagButton";
          tagButton.textContent = tag.name;
          tagButton.onclick = () => toggleTag(tag, tagButton);
          tagContainer.appendChild(tagButton);
        });
      }

      function toggleTag(tag, button) {
        tagName = tag.name;
        if (selectedTags.has(tagName)) {
          selectedTags.delete(tagName);
          button.classList.remove("selected");
        } else {
          selectedTags.add(tagName);
          button.classList.add("selected");
        }
        handleSearch();
      }

      function handleSearch() {
        const searchInput = document
          .getElementById("searchInput")
          .value.toLowerCase();

        filteredSites = sites.filter((site) => {
          const matchesSearch =
            site.name.toLowerCase().includes(searchInput) ||
            site.site_metadata.toLowerCase().includes(searchInput) ||
            site.tags.some((tag) =>
              tag.name.toLowerCase().includes(searchInput)
            );

          const matchesTags =
            selectedTags.size === 0 ||
            site.tags.some((tag) => selectedTags.has(tag.name));

          return matchesSearch && matchesTags;
        });

        renderSites();
      }

      document.addEventListener("DOMContentLoaded", () => {
        fetchSites();
        fetchTags();
        checkAuthentication();
      });

      const loginModal = document.getElementById("loginModal");
      const postModal = document.getElementById("postModal");

      function openLoginModal() {
        loginModal.style.display = "block";
      }

      function closeLoginModal() {
        loginModal.style.display = "none";
      }

      function openPostModal() {
        postModal.style.display = "block";
      }

      function closePostModal() {
        postModal.style.display = "none";
      }

      window.onclick = function (event) {
        if (event.target == loginModal) {
          loginModal.style.display = "none";
        }
        if (event.target == postModal) {
          postModal.style.display = "none";
        }
      };

      document
        .getElementById("login-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const handle = document.getElementById("handle").value;
          const password = document.getElementById("password").value;

          const response = await fetch("/api/token", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              handle: handle,
              password: password,
            }),
          });

          if (response.ok) {
            const data = await response.json();
            sessionStorage.setItem("access_token", data.access_token);
            sessionStorage.setItem("handle", data.handle);
            closeLoginModal();
            updateAuthUI();
          } else {
            alert(
              "Login failed. Double check your atproto handle and password."
            );
          }
        });

      function checkAuthentication() {
        const token = sessionStorage.getItem("access_token");
        if (token) {
          updateAuthUI();
        }
      }

      function updateAuthUI() {
        const handle = sessionStorage.getItem("handle");
        if (handle) {
          document.getElementById("loginButton").style.display = "none";
          const userHandleElement = document.getElementById("userHandle");
          userHandleElement.textContent = handle;
          const loggedInMenu = document.getElementById("loggedInMenu");
          loggedInMenu.style.display = "flex";
        }
      }

      document
        .getElementById("post-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const title = document.getElementById("title").value;
          const description = document.getElementById("description").value;
          const urls = document.getElementById("urls").value;
          const tags = document.getElementById("tags").value;

          const response = await apiRequest("/api/post", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${sessionStorage.getItem("access_token")}`,
            },
            body: JSON.stringify({
              title: title,
              description: description,
              urls: urls.split(" "),
              tags: tags.split(" "),
            }),
          });

          if (response.ok) {
            alert("Post successful");
            document.getElementById("post-form").reset();
            closePostModal();
            fetchSites();
          } else {
            alert("Post failed");
          }
        });

      function handleSignOut() {
        sessionStorage.removeItem("access_token");
        sessionStorage.removeItem("handle");
        document.getElementById("loginButton").style.display = "block";
        document.getElementById("loggedInMenu").style.display = "none";
      }

      async function apiRequest(url, options = {}) {
        const token = sessionStorage.getItem("access_token");
        options.headers = {
          ...(options.headers || {}),
          Authorization: `Bearer ${token}`,
        };

        const response = await fetch(url, options);

        if (response.status === 401) {
          alert("Session expired. Please log in again.");
          handleSignOut();
          return;
        }

        return response;
      }
    </script>
  </body>
</html>
