<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Internet's White Pages</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <main class="main">
      <h1>Discover cool <i>people</i>.</h1>
      <p>Because Y not lol?</p>
      <hr style="color: lightgray" />
      <div class="search-and-register">
        <div>
          <button class="submitButton" onclick="openModal()">
            Register Your Site
          </button>
          <button class="registerButton" onclick="window.location.href='/register'">Register</button>
        </div>
        <div>
          <input
            type="search"
            id="searchInput"
            placeholder="Search..."
            aria-label="Search personal sites"
            oninput="handleSearch()"
          />
        </div>
      </div>

      <div class="tag-buttons" id="tag-buttons">
        <!-- Tag buttons will be dynamically inserted here -->
      </div>

      <div class="showcaseGrid" id="showcase-grid">
        <!-- Sites will be dynamically inserted here -->
      </div>
    </main>

    <div id="submitModal" class="modal">
      <div class="modalContent">
        <span class="closeButton" onclick="closeModal()">&times;</span>
        <h2 style="margin-top: 0; margin-bottom: 1.5rem">
          Submit your website
        </h2>
        <form
          id="siteSubmitForm"
          onsubmit="handleSubmit(event)"
          action="https://formsubmit.co/andrearusso2399@gmail.com"
          method="POST"
        >
          <div class="formGroup">
            <label for="name">Your Name</label>
            <input type="text" id="name" name="name" required />
          </div>
          <div class="formGroup">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div class="formGroup">
            <label for="url">Website URL</label>
            <input
              type="url"
              id="url"
              name="url"
              required
              placeholder="https://"
            />
          </div>
          <button type="submit" class="submitButton">Submit</button>
        </form>
      </div>
    </div>

    <script>
      const showcaseGridRef = document.getElementById("showcase-grid");
      const tagButtonsRef = document.getElementById("tag-buttons");
      let sites = [];
      let filteredSites = [];
      let tags = new Set();
      let selectedTags = new Set();

      function openModal() {
        document.getElementById("submitModal").style.display = "block";
      }

      function closeModal() {
        document.getElementById("submitModal").style.display = "none";
      }

      async function fetchSites() {
        try {
          const response = await fetch(`https://ynot.lol/api/sites`);
          const data = await response.json();
          sites = Object.values(data);
          filteredSites = sites;
          renderSites();
        } catch (error) {
          console.error("Error fetching sites:", error);
        }
      }

      async function fetchTags() {
        fetch(`https://ynot.lol/api/tags`)
          .then((response) => response.json())
          .then((data) => {
            data.forEach((tag) => tags.add(tag));
            renderTagButtons();
          })
          .catch((error) => {
            console.error("Error fetching tags:", error);
          });
      }

      function renderSites() {
        showcaseGridRef.innerHTML = "";
        filteredSites.forEach((site, index) => {
          const siteDiv = document.createElement("div");
          siteDiv.className = "showcaseRow";
          siteDiv.onclick = () => window.open(site.url, "_blank");

          const iframeWrapper = document.createElement("div");
          iframeWrapper.className = "iframeWrapper";

          const iframe = document.createElement("iframe");
          iframe.src = site.url;
          iframe.title = site.name;
          iframe.loading = "lazy";
          iframe.className = "showcaseItem";

          iframeWrapper.appendChild(iframe);
          siteDiv.appendChild(iframeWrapper);
          showcaseGridRef.appendChild(siteDiv);
        });
      }

      function renderTagButtons() {
        const tagContainer = document.getElementById("tag-buttons");
        tagContainer.innerHTML = "";

        tags.forEach((tag) => {
          const tagButton = document.createElement("button");
          tagButton.className = "tagButton";
          tagButton.textContent = tag.name;
          tagButton.onclick = () => toggleTag(tag, tagButton);
          tagContainer.appendChild(tagButton);
        });
      }

      function toggleTag(tag, button) {
        tagName = tag.name;
        if (selectedTags.has(tagName)) {
          selectedTags.delete(tagName);
          button.classList.remove("selected");
        } else {
          selectedTags.add(tagName);
          button.classList.add("selected");
        }
        handleSearch();
      }

      function handleSearch() {
        const searchInput = document
          .getElementById("searchInput")
          .value.toLowerCase();

        filteredSites = sites.filter((site) => {
          const matchesSearch =
            site.name.toLowerCase().includes(searchInput) ||
            site.site_metadata.toLowerCase().includes(searchInput) ||
            site.tags.some((tag) =>
              tag.name.toLowerCase().includes(searchInput),
            );

          const matchesTags =
            selectedTags.size === 0 ||
            site.tags.some((tag) => selectedTags.has(tag.name));

          return matchesSearch && matchesTags;
        });

        renderSites();
      }

      async function handleSubmit(event) {
        event.preventDefault();
        const form = event.target;

        try {
          const response = await fetch(form.action, {
            method: "POST",
            body: new FormData(form),
          });

          if (response.ok) {
            alert("Thank you for submitting your website!");
            form.reset();
            closeModal();
            fetchSites(); // refresh the sites
            fetchTags(); // refresh the tags
          } else {
            alert("Something went wrong. Please try again.");
          }
        } catch (error) {
          console.error("Error:", error);
          alert("Something went wrong. Please try again.");
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        fetchSites();
        fetchTags();
      });
    </script>
  </body>
</html>
